<div class="container justify-content-center">

  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    
    <div class="row my-1 mx-1">
      <div *ngFor="let num of [1, 2, 3]" class="col-4 mb-3 pin">
        <button type="button" class="btn btn-secondary pin-button" (click)="pinButton(num)">{{ num }}</button>
      </div>
    </div>

    <div class="row my-1 mx-1">
      <div *ngFor="let num of [4, 5, 6]" class="col-4 mb-3 pin">
        <button type="button" class="btn btn-secondary pin-button" (click)="pinButton(num)">{{ num }}</button>
      </div>
    </div>

    <div class="row my-1 mx-1">
      <div *ngFor="let num of [7, 8, 9]" class="col-4 mb-3 pin">
        <button type="button" class="btn btn-secondary pin-button" (click)="pinButton(num)">{{ num }}</button>
      </div>
    </div>


    <div class="row my-1 mx-1">
          <div class="col-4 mb-3 pin">
            <button type="button" class="btn btn-secondary pin-button" (click)="delete()">⌫</button>
          </div>
          <div class="col-4 mb-3 pin">
            <button type="button" class="btn btn-secondary pin-button" (click)="pinButton(0)">0</button>
          </div>
          <div class="col-4 mb-3 pin">
            <button type="button" class="btn btn-secondary pin-button" (click)="check()">✓</button>
          </div>
    </div>

    
  </div>

</div>
